<html>
  <meta charset="UTF-8">
<head>
  <title>Notebook</title>
  <!-- Icons & Stylesheets -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <!-- Include the library in the page -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/marked"></script>

  <!-- Notebook app -->
  <div id="notebook">

    <!-- Sidebar -->
    <aside class="side-bar">
      <div class="toolbar">
        <button :title="buttonTitle" @click="addNote"><i class="material-icons">add</i> Add note</button>
      </div>
      <div class="notes">
        <div class="note" v-for="note in notes"
          :class="{ selected: note.id === selectedId}"
          @click="selectNote(note.id)">
          <i v-if="note.favorite" class="icon material-icons">star</i>
          {{note.title}}
        </div>
      </div>
    </aside>

    <!-- Main pane -->
    <section class="main" v-if="selectedId">
      <div class="toolbar">
        <input v-model="selectedNote.title">
        <button @click="removeNote" title="Remove note"><i class="material-icons">delete</i></button>
        <button @click="favoriteNote" title="Favorite note">
          <i class="icon material-icons">{{ selectedNote.favorite ? 'star' : 'star_border' }}</i>
        </button>
      </div>
      <textarea v-model="selectedNote.content"></textarea>
    </section>

    <!-- Preview pane -->
    <aside class="preview" v-html="notePreview" v-if="selectedId">
    </aside>

  </div>

  <!-- Some JavaScript -->
  <script src="script.js"></script>
</body>
</html>
